<h1>Transferir</h1>
<form #buscarForm="ngForm" (ngSubmit)="getDestinatario()">
    <div class="row">
        <div class="col-3">
            <label for="buscar">Buscar Destinatario</label>
            <input class="form-control" id="buscar" type="text" name="buscar"/>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-buscar">Buscar</button>
        </div>
    </div>
    <strong>Detalle del destinatario</strong>
    <div class="row" id="datos-destinatario">
        <div class="col">
            <p class="text-muted">Nombre:</p>
        </div>
        <div class="col-11">
            <p class="text-secondary" *ngFor="let destinatario of destinatarioService.destinatario">{{ destinatario.nombre }}</p>
        </div>
    </div>
    <div class="row" id="datos-destinatario">
        <div class="col-md">
            <p class="text-muted">Correo:</p>
        </div>
        <div class="col-11">
            <p class="text-secondary" *ngFor="let destinatario of destinatarioService.destinatario">{{ destinatario.correo }}</p>
        </div>
    </div>
    <div class="row" id="datos-destinatario">
        <div class="col-md">
            <p class="text-muted">Banco: </p>
        </div>
        <div class="col-11">
            <p class="text-secondary" *ngFor="let destinatario of destinatarioService.destinatario">{{ destinatario.banco }}</p>
        </div>
    </div>
    <div class="row" id="datos-destinatario">
        <div class="col-md">
            <p class="text-muted">Tipo de cuenta</p>
        </div>
        <div class="col-11">
            <p class="text-secondary" *ngFor="let destinatario of destinatarioService.destinatario">{{ destinatario.tipo_cuenta }}</p>
        </div>
    </div>
    <div class="form-group col-2">
        <label for="monto">Monto</label>
        <input class="form-control buscar" id="monto" type="text" name="monto" disabled/>
    </div>
    <br>
    <div class="offset-md-2">
        <button type="button" class="btn btn-primary btn-lg">Transferir</button>
    </div>
</form>
