<h1>Transferir</h1>
<form #buscarForm="ngForm" [formGroup]="formRut" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-3" style="min-width: 13em;">
            <label for="buscar">Buscar Destinatario</label>
            <input class="form-control" id="buscar" type="text" name="buscar" placeholder="Ingrese RUT" formControlName="rut" />
            <small id="emailHelp" class="form-text text-muted">Formato: 99999999-K</small>
        </div>
        <div class="col-1 mt-4">
            <button class="btn btn-primary rounded">Buscar</button>
        </div>
    </div>
    <p class="text-danger">{{encontro}}</p>
</form>
<strong>Detalle del destinatario</strong>
<div class="row" id="datos-destinatario">
    <div class="col">
        <p class="text-muted">Nombre:</p>
    </div>
    <div class="col-11">
        <p class="text-secondary">{{destinatarioService.datosDestinatario.nombre}} </p>
    </div>
</div>
<div class="row" id="datos-destinatario">
    <div class="col-md">
        <p class="text-muted">Correo:</p>
    </div>
    <div class="col-11">
        <p class="text-secondary">{{destinatarioService.datosDestinatario.correo}}</p>
    </div>
</div>
<div class="row" id="datos-destinatario">
    <div class="col-md">
        <p class="text-muted">Banco: </p>
    </div>
    <div class="col-11">
        <p class="text-secondary">{{destinatarioService.datosDestinatario.banco}}</p>
    </div>
</div>
<div class="row" id="datos-destinatario">
    <div class="col-md">
        <p class="text-muted">Tipo de cuenta</p>
    </div>
    <div class="col-11">
        <p class="text-secondary">{{destinatarioService.datosDestinatario.tipo_cuenta}}</p>
    </div>
</div>
<form [formGroup]="formMonto" (ngSubmit)="submitMonto()">
    <div class="form-group col-2" style="min-width: 13em;">
        <label for="monto">Monto</label>
        <input class="form-control buscar" id="monto" type="text" name="monto" formControlName="monto" onclick="if(this.value==0){this.value=''}" [readonly]="readonly"  />
    </div>
    <br>
    <div class="offset-md-1">
        <button class="btn btn-primary btn-lg rounded" id="transferir">Transferir</button>
    </div>
</form>