<h1>Historial</h1>
<div class="container text-center">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">RUT</th>
            <th scope="col">Banco</th>
            <th scope="col">Tipo de Cuenta</th>
            <th scope="col">Monto</th>
          </tr>
        </thead>
        <tbody *ngFor="let transferencia of transferenciaService.transferencia">
          <tr class="table-secondary">
            <td>{{ destinatarioService.datosDestinatario.nombre }}</td>
            <td>{{ transferencia.rut_destinatario }}</td>
            <td>{{ destinatarioService.datosDestinatario.banco }}</td>
            <td>{{ destinatarioService.datosDestinatario.tipo_cuenta }}</td>
            <td>$ {{ transferencia.monto }}</td>
          </tr>
        </tbody>
    </table>
</div>