<h1>Historial</h1>
<div class="container text-center">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">RUT</th>
            <th scope="col">Banco</th>
            <th scope="col">Tipo de Cuenta</th>
            <th scope="col">Monto</th>
          </tr>
        </thead>
        <tbody *ngFor="let destinatario of destinatarioService.destinatario">
          <tr class="table-secondary">
            <td>{{ destinatario.nombre }}</td>
            <td>{{ destinatario.rut }}</td>
            <td>{{ destinatario.banco }}</td>
            <td>{{ destinatario.tipo_cuenta }}</td>
            <td>AUN FALTA EN BD</td>
          </tr>
        </tbody>
    </table>
</div>